body {
    color: #ffffff;
    font-size: 18px;
    background-color: black;
    font-family: 'Noto Sans', sans-serif;
}

.container {

    margin: 30px;
}

header {
    display: flex;
    float: inline-start;
    padding-top: 10px;
}

.site-name {
    position: relative;
    bottom: 15px;
    color: #ffffff;
    padding-left: 20px;
    padding-top: 30px;
}

.image5 img{
    border-radius: 100px;
    position: relative;
    left: 10px;
    bottom: 0px;
    width: 50px;
    height: 50px;
}
.navbar ul {
    display: flex;
    padding-left: 100px;
}

.navbar li {
    float: inline-start;
    list-style: none;
    display: flex;
    padding-right: 35px;

}

.navbar li a:hover {
    color: #ffffff;
    border-top: 1px solid rgb(158, 213, 87);
}

.navbar li a {

    text-decoration: none;
    color: rgb(173, 214, 112);
}

.buttons {
    position: relative;
    right: -50px;
    padding-left: 140px;
    color: #ffffff;
    top: 10px;
}

.free-trial {
    position: relative;
    top: 10px;
    border-radius: 30px;
    padding: 15px;
    left: 20px;
    border: solid 1px rgb(185, 198, 87);

}

.free-trial:hover {
    background-color: rgb(185, 198, 87);
    color: black;
}

.account {
    position: relative;
    top: 10px;
   
    border-radius: 30px;
    border: solid 1px rgb(185, 198, 87);
    padding: 15px;
    left: 30px;
    
}

.account:hover {
    background-color: rgb(185, 198, 87);
    color: black;
}

.content {
    float: left;
    margin-left: 50px;
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.big-text {
    font-size: 35px;
}

.bold-text {
    font-size: 35px;
    font-weight: 800;
}

.bg-text {
    font-size: 35px;
    background-color: rgb(185, 198, 87);
}

.des {
    padding-top: 20px;
    font-size: 15px;
}

.start {
    position: relative;
    border-radius: 30px;
    padding: 15px;
    top: 30px;
    left: 20px;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    border: solid 1px rgb(185, 198, 87);
    background-color: rgb(185, 198, 87);
    font-weight: 600;
}

.start:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.how {
    position: relative;
    top: 30px;
    color: #000000;
    border-radius: 30px;
    border: solid 1px rgb(185, 198, 87);
    padding: 15px;
    left: 30px;
    background-color: rgb(185, 198, 87);
    font-weight: 600;
}

.how:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.images-1 {
    position: relative;
    left: 370px;
}

.image1 img {
    border-radius: 150px;
    width: 40px;
    height: 40px;
}

.image2 img {
    border-radius: 100px;
    width: 40px;
    height: 40px;
}

.image3 img {
    border-radius: 100px;
    width: 40px;
    height: 40px;
}


.pictures
{
    position: absolute;
    top: 150px;
    right: 100px;
}
.text1
{
    position: relative;
    right:250px;
    top: 80px;
    font-size: 20px;
    /* bottom:10px; */
}
.pic1 img{
    position: relative;
    width: 120px;
    height: 120px;
    left: 70px;
    /* bottom: 20px; */
}
.pic2 img
{
    position: relative;
    width: 300px;
    top: -30px;
    height: 150px;
    right: 250px;
    bottom: 30px;
}
.text2
{
    position: relative;
    font-size: 20px;
    left: 100px;
    top: 70px;
    /* text-align: right; */
}
.steps
{
    position: absolute;
    top: 540px; 
    /* left: -500px; */
}
.boxes{
    display: flex;
    margin-left: 100px;
}

 .box1 
{
    position: relative;
    border: solid 1px rgb(116, 199, 224) ;
    background-color: rgb(116, 199, 224);
    border-radius: 10px;
    padding: 40px;
    padding-right: 50px;
    margin-left: 5px;
    height: 30px;
    width: 330px;
    font-size: 13px;
    right: 20px;
}
.box1:hover
{
    background-color: rgb(35, 182, 150);
}
.box2
{
    position: relative;
    border: solid 1px rgb(146, 220, 72) ;
    background-color: rgb(214, 231, 132);
    border-radius: 10px;
    padding: 40px;
    padding-right: 50px;
    margin-left: 5px;
    height: 30px;
    width: 330px;
    font-size: 13px;
    right: 20px;
}
.box2:hover
{
    background-color: rgb(160, 173, 46);
}
.box3
{
    position: relative;
    border: solid 1px rgb(49, 80, 54) ;
    background-color: rgb(175, 224, 69);
    border-radius: 10px;
    padding: 40px;
    padding-right: 50px;
    margin-left: 5px;
    height: 30px;
    width: 330px;
    font-size: 13px;
    right: 20px;
}
.box3:hover
{
    background-color: rgb(49, 80, 54);
}
.num
{
    
    position: relative;
    width: 30px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    border-radius: 30px;
    color: #000000;
    border: solid 1px black;
    background-color: #ffffff;
}
.num:hover
{
    background-color: #000000;
    color: #ffffff;
}
.line1
{
    position: absolute;/* margin-bottom: 20px; */
    bottom: 65px;
    font-size: 22px;
    left: 90px;
    color: black;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.line2
{
    position: absolute;/* margin-bottom: 20px; */
    bottom: 20px;
    font-size: 16px;
    left: 90px;
    color: black;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.foot
{
    position: absolute;
    bottom: 0px;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    width: 100%;
    height: 100px;
    margin-left: 10px;
}

.time1
{
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    /* margin-top: 10px; */
    margin: 10px;
    padding: 20px;
    color: #ffffff;
    background-color: #252525;
}
.time2
{
    border: 1px solid black;
    border-radius: 35px;
    padding: 7px;
    color: black ;
    background-color: rgb(196, 165, 235);
}
.time2:hover
{
    background-color: rgb(169, 189, 53);
}
.image4 img
{
    border-radius: 100px;
    position: relative;
    top:20px;
    left: 10px;
    width: 50px;
    height: 50px;
}
.foot-text
{
    text-align: center;
    position: relative;
    top: 25px;
    left: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.tagline
{
    position:relative;
    left: 80px;
    top: 35px;
}
.dont
{
    border: 1px solid black;
    background-color: rgb(210, 222, 141);
    border-radius: 40px;
    padding: 10px ;
    padding-right: 55px;
    
}
.join
{
    border: 1px solid black;
    background-color: (169, 189, 53);
    position: relative;
    right: 50px;
    border-radius: 40px;
    padding: 10px ;
    padding-right:50px ;
    background-color: #bac1eb;
}
.act
{
    border: 1px solid black;
    background-color: (169, 189, 53);
    border-radius: 40px;
    position: relative;
    right: 95px;
    padding: 10px ;
    background-color: rgb(243, 202, 147);
}
.contact
{
    border: 1px solid black;
    margin-left: 60px;
    /* background-color: rgb(26, 5, 103); */
    color:rgb(93, 126, 186);
    position: relative;
    height: 21px;
    top:25px;
    border-radius: 40px;
    padding: 10px;
}
.contact:hover{
    background-color:rgb(93, 126, 186) ;
    color:#ffffff;
}
.team
{
    position: relative;
    left: 30px;
    margin-left: 5px;
}
.image8 img
{
    border-radius: 100px;
    position: relative;
    left: 30px;
    top:25px;
    left: 10px;
    width: 50px;
    height: 60px;
}
.image6 img{
    border-radius: 100px;
    position: relative;
    top:20px;
    left: 10px;
    width: 60px;
    height: 60px;
}
.image7 img{
    border-radius: 100px;
    position: relative;
    top:20px;
    left: 10px;
    width: 50px;
    height: 60px;
}
